<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lucs - api</title>
</head>
<style>
    body {
    background: rgb(155,155,155)}

    h1 {
        align-content: center;
        color: rgb(160, 41, 41);
        font-size: xx-large ;
        justify-content: center;
        padding-left: 30vw;
        padding-top: 20px;
    }
    .container {
        padding-left: 33vw;
        padding-top: 25vh;
    }
    .links{
        padding-left: 40vh;
        padding-top: 40vh;
    }

</style>
<body>
    <h1>Lightweight Version Checker Api</h1>
    <div class="container">

<h3>Looking for specific App?</h3>
<form action="#">
    <input type="search" name="search">
    <input type="submit">
</form></div>
<br>
<div class="links">
<h4>Links:</h4>
<a href="{{ url_for('new_entry') }}">Register Form</a> <a href="https://github.com/Lainupcomputer/">Github</a></div>
</body>
</html>